body {
    height: 100vh;

    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

main,
.login-form,
.login-form label {
    display: flex;
    flex-direction: column;
}

main {
    width: 452px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dbdbdb;
    padding: 25px;
}

main header {
    color: #464343;
    margin-bottom: 32px;
}

.login-form label {
    margin-bottom: 12px;
}

.login-form label span {
    color: #464343;
    display: block;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 5px;
}

.login-form label input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.75em 1em;
    font-size: 13px;
    font-weight: 400;
}

.login-form button {
    width: 100%;
    background-color: var(--red);
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 9px 12px;
    color: #fff !important;
    cursor: pointer;
    font-weight: 700;
    text-shadow: none;

    margin-bottom: 32px;
}

.login-form button:hover {
    border-color: #b0281a;
    background-color: #c53727;
}

.login-form button:active {
    background-color: #972b1f;
}

hr {
    border-top: 1px solid #dbdbdb;
    margin-bottom: 32px;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    color: #464343;
    font-size: 13px;
}

footer a {
    color: var(--red);
    text-decoration: none;
}