@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
  --red: #db4c3f;
}

.col-1 {
    width: 8.33333%;
}
.col-2 {
    width: 16.66666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333%;
}
.col-5 {
    width: 41.66666%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33333%;
}
.col-8 {
    width: 66.66666%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33333%;
}
.col-11 {
    width: 91.66666%;
}
.col-12 {
    width: 100%;
}

.icon-btn-container {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon-btn-container path {
  color: rgba(255, 255, 255, 0.87);
}

.icon-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  transition: .2s;
  cursor: pointer;
}

.icon-btn:hover {
  background-color: hsla(0,0%,100%,.2);
}

.icon-btn:active {
  background-color: rgba(255, 255, 255, 0.1);
}