.task-container.hiden {
    display: none;
}

.task-container fieldset {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #363636;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
}
.task-container fieldset input {
    margin-bottom: 8px;
    font-weight: bold;
}
.task-container fieldset textarea {
    font-size: 13px;
    min-height: 48px;
}
.task-container fieldset input,
.task-container fieldset textarea{
    border: none;
    background-color: transparent;
    outline: none;
    caret-color: white;
    color: white;
}
.task-container footer {
    display: flex;
}
.task-container footer button {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0px 12px;
    font-weight: bold;
    cursor: pointer;
    transition: .1s;
}
.task-container footer .primary-btn {
    background-color: #de4c4a;
    margin-right: 8px;
}
.task-container footer .primary-btn:disabled {
    opacity: .3;
}
.task-container footer .secondary-btn {
    background-color: #292929;
}