.content {
    display: flex;
    justify-content: center;
    padding: 68px;
}

.list-container {
    max-width: 800px;
    min-width: 560px;
    /* background-color: rgba(63, 55, 55, 0.541); */
    flex: 1;
}

#list-container-header {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.list-container.hiden {
    display: none;
}

#list-container-section .task {
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#list-container-section .task .dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 8px;
}

#list-container-section .task input[type=checkbox] {
    display: none;
}

#list-container-section .task input[type=checkbox]:checked ~ .dot {
    background-color: grey;
}

#list-container-section .task input[type=checkbox]:checked ~ span {
    text-decoration: line-through;
}

#list-container-section .task-wrapper {
    display: flex;
    align-items: flex-start;
}

#list-container-section .task-wrapper .info {
    display: flex;
    flex-direction: column;
}

#list-container-section .task-wrapper .info .description {
    font-size: 12px;
    color: #858585;
}

#add-task.hiden {
    display: none;
}
#add-task {
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#add-task .add-icon {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: .1s;
}

#add-task svg {
    color: #de4c4a;
    transition: .2s;
}

#add-task span {
    color: white;
    transition: .2s;
}

#add-task:hover .add-icon {
    background-color: #de4c4a;
    border-radius: 50%;
}

#add-task:hover span {
    color: #de4c4a;
}

#add-task:hover svg {
    color: white;
}

.title-wrapper {
    display: flex;
    align-items: center;
}

.title-wrapper h1 {
    margin-right: 16px;
}