.background-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.4);
}

.background-modal.hiden {
    display: none;
}

.add-modal {
    width: 400px;
    background-color: #282828;
    border-radius: 10px;
}

.add-modal header {
    background-color: #202020;
    height: 54px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 24px;
    font-weight: bold;
}

.add-modal section {
    padding: 24px;
}
.add-modal section label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.add-modal section label span {
    font-size: 14px;
    margin-bottom: 8px;
}
.add-modal section label input[type=text] {
    padding-left: 12px;
}
.add-modal section label input {
    width: auto;
    height: 32px;
    border-radius: 4px;
    background-color: #202020;
    border: 1px solid #333;
    color: #eee;
    outline: none;
}

.add-modal footer {
    height: 54px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 24px;
}

.add-modal footer button {
    height: 32px;
    border: none;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.87);
    font-weight: bold;
    cursor: pointer;
}

.add-modal footer button:nth-child(1) {
    background-color: #353535;
    margin-right: 8px;
}
.add-modal footer button:nth-child(2) {
    background-color: #de4c4a;
}

.add-modal footer button:nth-child(2):disabled {
    opacity: .3;
    cursor: default;
}