body {
    height: 100vh;
    color: rgba(255, 255, 255, 0.87);
}

.main-header {
    position: relative;
    height: 44px;
    background-color: #282828;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 42px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.wrapper span {
    margin-left: 16px;
}

.logout {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: grey;
    font-size: 18px;
    transition: .1s;
}

.logout:hover {
    text-decoration: underline;
    color: white;
}

main {
    height: calc(100% - 44px);
    display: flex;
}

.content {
    flex: 1;
    background-color: #1f1f1f;
}

.sideview-menu {
    width: 0px;
    height: 100%;
    background-color: #282828;
    transition: .5s;
}

.sideview-menu.open {
    width: 300px;
}

.list-wrapper {
    width: 268px;
    margin-left: 32px;
    margin-top: 32px;
    overflow: hidden;
    transition: .5s;
}
.list-wrapper:not(.open) {
    height: 38px !important;
}

/* Header */
.list-wrapper .header {
    display: flex;
    align-items: center;
}
.list-wrapper .header label {
    height: 38px;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    cursor: pointer;
}
.list-wrapper .header label .title {
    color: rgba(255, 255, 255, 0.87);
    font-weight: bold;
    font-size: 14px;
}
.list-wrapper .header label .arrow-icon {
    width: 16px;
    height: 16px;
    margin: 0px 8px;
}
.list-wrapper .header label .arrow-icon svg {
    transition: .2s;
}
.list-wrapper .header label input[type="checkbox"] {
    display: none;
}
.list-wrapper .header label input[type="checkbox"]:not(:checked) ~ .arrow-icon svg {
    transform: rotate(-90deg);
}
.list-wrapper .header .add-btn {
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0px 8px;
    transition: .2s;
}
.list-wrapper .header .add-btn:hover {
    background-color: #4d4d4d;
}
.list-wrapper .header .add-btn:hover svg {
    color: white !important;
}
.list-wrapper .header .add-btn svg {
    color: grey;
}

/* Section */
.list-wrapper section {
    display: flex;
    flex-direction: column;
}
.list-wrapper section button {
    border: none;
    border-radius: 4px;
    height: 34px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: .1s;
}
.list-wrapper section button:hover {
    background-color: #363636;
}
.list-wrapper section button .dot {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-right: 12px;
    pointer-events: none;
}
.list-wrapper section button span {
    pointer-events: none;
}
.content {
    position: relative;
}



.action-button {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: .2s;
}

.action-button:hover {
    background-color: #4d4d4d;
}

.action-button svg {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.87);
}